{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error.messageData is defined %}
        <div class="alert alert-danger">{{ error.messageData|trans(error.messageData, 'security') }}</div>
    {% else %}

    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                    <h4 class="offset-md-4">Connexion</h4>
                    <hr class="mt-4">
                    <div class="col-12">
                        <label>Email</label>
                        <input class="form-control" name="email" id="inputEmail" autocomplete="email" required autofocus>
                    </div>
                    <div class="col-12">
                        <label>Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <button class="btn btn-lg btn-dark float-end" type="submit">
                        Se connecter
                    </button>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
            </div>
        </div>
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


</form>
{% endblock %}
