{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue {% if(app.user()) %}<b style="color: #1b9448">{{ app.user().getNom() }}</b>{% endif %} chez DayDiscover</h1>
    <p>Via ce site vous pourrez consulter des journées découvertes réalisées par nos grimpeurs et même y particper ! </p>
    <p>Plus vous participez à des journées dévouvertes plus vous gagnez des points</p>
    {% if(app.user()) %}
        {% if(app.user().getRoles()[0] == 'ROLE_OR') %}
            Vous êtez <b>OR</b>, vous pouvez ainsi créer vos journées découvertes.
        {% elseif (app.user().getRoles()[0] == "ROLE_BRONZE")%}
            Vous êtez <b>BRONZE</b>, vous pouvez participer à une ou plusieurs journées découvertes.
        {% elseif (app.user().getRoles()[0] == "ROLE_ARGENT")%}
            Vous êtez <b>ARGENT</b>, vous pouvez participer à une ou plusieurs journées découvertes.
        {% endif %}
        <br /><br /><br />
        <a href="{{ url('jd.index') }}" class="btn btn-outline-success" style="margin-right: 3px">
            Les journées découverte
        </a>
    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-success">Se connecter</a>
        <a href="{{ path('app_register') }}" class="btn btn-secondary">S'inscrire</a>
    {% endif %}
{% endblock %}