{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue chez DayDiscover</h1>
    <p>Via ce site vous pourrez consulter des journées découvertes réalisées par nos grimpeurs et même y particper ! </p>
    <p>Plus vous participez à des journées dévouvertes plus vous gagnez des points</p>
{% endblock %}